
/*Juan Carlos Mendoza Fontcuberta*/
/*RIGE TIENDA, SHENMUE, AVISO LEGAL Y YOKOSUKA Y ALREDEDORES*/
/*AJENO A SASS*/

/*@import "_mixin";/*exportamos estos archivos aquí a style.scss para luego importar este archivo al style.css*/
/*@import "_contenido";*/
body { 
  background: #F8E6E0 url("shenmue.png") no-repeat fixed center; 
}/*FONDO DE TIENDA,SHENMUE,AVISO LEGAL,YOKOSUKA ETC...*/
/*ul.a {list-style-type: cjk-ideographic;}*/

table, td, th {
  border: 1px solid black;
  border-color: purple;
  background-color: rgb(248, 236, 126);
  border-radius: 5%;
}/*TABLA DE PÁGINAS EN SHENMUE*/

#myEffect:hover {/*FUNCIÓN PARA CAMBIAR COLOR DE LETRAS EN TABLAS*/
  animation: mymove4 5s infinite;
  background-color: antiquewhite;
  border: 3px solid rgb(100, 26, 185);
  transition: transform 2s ease-in-out;
  border-radius: 10%;
  -webkit-transition: transform 2s ease-in-out;
  -moz-transition: transform 2s ease-in-out;
}
@keyframes mymove4 {
  50% {color: blue;}
}

#table1 {/*PROPIEDAD SEPARATE EN LA TABLA*/
  border-collapse: separate;
}

.logo2 {/*PROPIEDADES DE LA TABLA*/
  margin-left: 380px;
  margin-top: -30px;
  position: relative;
  border-radius: 10%;
  float: left;
  transform: rotateY(0deg) translateZ(0);
  transition: transform 1s linear;
}

.logo2:hover {/*FUNCIÓN DE ANIMACIÓN DE LA*/
  transform: rotateY(180deg) translateZ(0);
  transition: transform 1s linear;
  -webkit-transition: all 1.s ease;
  -moz-transition: all 1.s ease;
  
}

.pago {/*color letra del formulario del pago en tienda*/
  color: rgb(26, 5, 88);
} 

#myDIV {/*atributos,caja y funciones de sección principal en avisoLegal*/
  border: 1px solid black;
  width: 800px;
  border-radius: 4%;
  margin-left: 30px;
  margin-top: 100px;
  color: red;
  animation: mymove3 5s infinite;
  background-color: antiquewhite;
  border: 9px solid rgb(100, 26, 185);
  transition: transform 2s ease-in-out;
  -webkit-transition: transform 2s ease-in-out;
  -moz-transition: transform 2s ease-in-out;
}

@keyframes mymove3 {
  50% {color: blue;}
}

#myDIV2 {/*sombreado en letras*/
  animation: mymove2 5s infinite;
}

@keyframes mymove2 {
  30% {text-shadow: -10px 0px 10px rgb(14, 9, 9);}
}

 
#item1 {/*taablas de productos*/
  width: 1350px;
  height: 60px;
  background-color: rgb(231, 199, 219); 
}
#item2 {
  width: 1350px;
  height: 60px;
  background-color: rgb(236, 162, 199);
}
#item3 {
  width: 1350px;
  height: 60px;
  background-color: rgb(231, 199, 219);
}
#item4 {
  width: 1350px;
  height: 60px;
  background-color: rgb(236, 162, 199);
}
#item5 {
  width: 1350px;
  height: 60px;
  background-color: rgb(231, 199, 219);
}
#item6 {
  width: 1350px;
  height: 60px;
  background-color: rgb(236, 162, 199);
}
#item7 {
  width: 1350px;
  height: 60px;
  background-color: rgb(231, 199, 219);
}
#item8 {
  width: 1350px;
  height: 60px;
  background-color: rgb(236, 162, 199);
}
#item9 {
  width: 1350px;
  height: 60px;
  background-color: rgb(231, 199, 219);
}
#item10 {
  width: 1350px;
  height: 60px;
  background-color: rgb(236, 162, 199);
}

#myIMG {/*mueve lo que hay a partir de p en página shenmue*/
  vertical-align: 1px;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {vertical-align: 200px;}
}

h1 {/*h1 página shenmue*/
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgb(194, 14, 14);
}

h2 {/*h2 página shenmue*/
  color: rgb(240, 132, 173);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  font-size: 20px;
}

h1.capi:first-letter{/*letras capitales página shenmue*/
  color: rgba(207, 25, 177, 0.925);
  font-family: monospace;
  font-size: 200%;
}







