/*Juan Carlos Mendoza Fontcuberta*/
/* line 1, ../sass/_menu.scss */
nav#desktop {
  position: absolute;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 1024px) {
  /* line 1, ../sass/_menu.scss */
  nav#desktop {
    display: none;
  }
}
/* line 8, ../sass/_menu.scss */
nav#desktop ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
/* line 12, ../sass/_menu.scss */
nav#desktop ul li.categoria {
  float: left;
}
@media (max-width: 1024px) {
  /* line 12, ../sass/_menu.scss */
  nav#desktop ul li.categoria {
    display: none;
  }
}
/* line 17, ../sass/_menu.scss */
nav#desktop ul li.categoria a {
  color: #ec3a8d;
  background-color: #f8e386;
  text-decoration: none;
  width: 160px;
  padding: 7px 15px;
  display: block;
  text-align: center;
  cursor: pointer;
}
/* line 26, ../sass/_menu.scss */
nav#desktop ul li.categoria a:hover {
  color: #690a37;
  background-color: #fbeeb6;
}
/* line 29, ../sass/_menu.scss */
nav#desktop ul li.categoria ul.submenu {
  -moz-transition: height 0.5s linear;
  -webkit-transition: height 0.5s linear;
  transition: height 0.5s linear;
  position: absolute;
  height: 0px;
  overflow: hidden;
}
/* line 35, ../sass/_menu.scss */
nav#desktop ul li.categoria a {
  -moz-transition: padding 0.5s ease-out;
  -webkit-transition: padding 0.5s ease-out;
  transition: padding 0.5s ease-out;
}
/* line 40, ../sass/_menu.scss */
nav#desktop ul li.categoria:hover a {
  padding-top: 10px;
  padding-right: 20px;
}
/* line 44, ../sass/_menu.scss */
nav#desktop ul li.categoria:hover ul {
  height: 100px;
}
/* line 49, ../sass/_menu.scss */
nav#desktop > ul {
  width: 100%;
  height: 32Px;
  color: #ec3a8d;
  background-color: #f8e386;
}

/* line 55, ../sass/_menu.scss */
nav#mobile {
  display: none;
  float: right;
}
@media (max-width: 1024px) {
  /* line 55, ../sass/_menu.scss */
  nav#mobile {
    display: block;
  }
}
/* line 61, ../sass/_menu.scss */
nav#mobile ul {
  margin: 0px;
  height: 0px;
  overflow: hidden;
  list-style-type: none;
  position: absolute;
  right: 10px;
  top: 105px;
}
/* line 69, ../sass/_menu.scss */
nav#mobile ul a {
  color: #eee;
  background-color: #e0c31f;
  text-decoration: none;
  width: 160px;
  padding: 7px 70px;
  display: block;
  text-align: center;
  cursor: pointer;
  font-size: 0.6em;
  font-weight: normal;
}
/* line 81, ../sass/_menu.scss */
nav#mobile ul a:hover {
  color: white;
  background-color: #fcec0b;
}
/* line 87, ../sass/_menu.scss */
nav#mobile:hover ul {
  height: auto;
}

/*Juan Carlos Mendoza Fontcuberta*/
/* line 6, ../sass/_contenido.scss */
i {
  background: url('../img/../img-sc852593a67.png');
  display: inline-block;
}

/* line 12, ../sass/_contenido.scss */
.icon-bandera_hiroshima {
  background-position: 0 0;
  height: 91px;
  width: 90px;
}

/* line 12, ../sass/_contenido.scss */
.icon-bandera_kioto {
  background-position: 0 -91px;
  height: 111px;
  width: 101px;
}

/* line 12, ../sass/_contenido.scss */
.icon-bandera_miyajima {
  background-position: 0 -202px;
  height: 114px;
  width: 114px;
}

/* line 12, ../sass/_contenido.scss */
.icon-bandera_okinawa {
  background-position: 0 -316px;
  height: 114px;
  width: 123px;
}

/* line 12, ../sass/_contenido.scss */
.icon-bandera_osaka {
  background-position: 0 -430px;
  height: 86px;
  width: 80px;
}

/* line 12, ../sass/_contenido.scss */
.icon-bandera_tokio {
  background-position: 0 -516px;
  height: 97px;
  width: 92px;
}

/* line 12, ../sass/_contenido.scss */
.icon-contact {
  background-position: 0 -613px;
  height: 30px;
  width: 30px;
}

/* line 12, ../sass/_contenido.scss */
.icon-gracias {
  background-position: 0 -643px;
  height: 453px;
  width: 920px;
}

/* line 12, ../sass/_contenido.scss */
.icon-images {
  background-position: 0 -1096px;
  height: 163px;
  width: 310px;
}

/* line 12, ../sass/_contenido.scss */
.icon-jr {
  background-position: 0 -1259px;
  height: 179px;
  width: 281px;
}

/* line 12, ../sass/_contenido.scss */
.icon-kanku {
  background-position: 0 -1438px;
  height: 400px;
  width: 400px;
}

/* line 12, ../sass/_contenido.scss */
.icon-kiyomizudera_logo {
  background-position: 0 -1838px;
  height: 63px;
  width: 113px;
}

/* line 12, ../sass/_contenido.scss */
.icon-menu {
  background-position: 0 -1901px;
  height: 30px;
  width: 32px;
}

/* line 12, ../sass/_contenido.scss */
.icon-news {
  background-position: 0 -1931px;
  height: 75px;
  width: 75px;
}

/* line 12, ../sass/_contenido.scss */
.icon-news2 {
  background-position: 0 -2006px;
  height: 30px;
  width: 39px;
}

/* line 12, ../sass/_contenido.scss */
.icon-seigantoji_logo {
  background-position: 0 -2036px;
  height: 146px;
  width: 129px;
}

/* line 12, ../sass/_contenido.scss */
.icon-shop {
  background-position: 0 -2182px;
  height: 15px;
  width: 16px;
}

/* line 12, ../sass/_contenido.scss */
.icon-stu {
  background-position: 0 -2197px;
  height: 200px;
  width: 180px;
}

/* line 12, ../sass/_contenido.scss */
.icon-studies {
  background-position: 0 -2397px;
  height: 100px;
  width: 90px;
}

/* line 12, ../sass/_contenido.scss */
.icon-todaiji_logo {
  background-position: 0 -2497px;
  height: 103px;
  width: 141px;
}

/* line 18, ../sass/_contenido.scss */
#contenido .col-left .login button {
  box-sizing: border-box;
  width: 50%;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
}

/* line 27, ../sass/_contenido.scss */
#contenido .col-left .login input {
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px solid #bbb;
}

/* line 35, ../sass/_contenido.scss */
#contenido {
  padding: 30px 20px 0px 0px;
}
/* line 38, ../sass/_contenido.scss */
#contenido .col-left {
  box-sizing: border-box;
  width: 30%;
  float: right;
  padding: 10px;
}
/* line 44, ../sass/_contenido.scss */
#contenido .col-left .login input {
  background-color: #ebf1f7;
}
@media (max-width: 800px) {
  /* line 38, ../sass/_contenido.scss */
  #contenido .col-left {
    float: none;
    width: 100%;
  }
}
/* line 59, ../sass/_contenido.scss */
#contenido .col-right {
  box-sizing: border-box;
  margin-right: 30%;
  width: 70%;
  padding: 10px;
}
/* line 65, ../sass/_contenido.scss */
#contenido .col-right h1 {
  color: #c61367;
  font-size: 1.6em;
}
@media (max-width: 800px) {
  /* line 59, ../sass/_contenido.scss */
  #contenido .col-right {
    margin-left: 0;
    width: 100%;
  }
}
/* line 76, ../sass/_contenido.scss */
#contenido .button-action {
  background-color: #f8e386;
  color: #eee;
  background-color: #f4d23e;
}
/* line 84, ../sass/_contenido.scss */
#contenido .button-action:hover {
  background-color: #d8b30d;
}
@media (max-width: 1024px) {
  /* line 35, ../sass/_contenido.scss */
  #contenido {
    padding: 10px 20px;
  }
}

/* line 93, ../sass/_contenido.scss */
a.button:hover {
  background-color: #d8b30d;
  color: #690a37;
  background-color: #fbeeb6;
}

/* line 20, ../sass/style.scss */
body .tienda, h1.viaje {
  background-color: #d3bce2;
  border: 3px solid #7a1e5f;
}

/* line 24, ../sass/style.scss */
body {
  margin: 0px;
  padding: 0px;
}
/* line 27, ../sass/style.scss */
body header {
  padding-top: 12px;
  padding-right: 30px;
  font-size: 1.8rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px #c26464;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  color: #e9b712;
  background-color: #ad84a0;
}
/* line 41, ../sass/style.scss */
body .tienda {
  font: bold 90% monospace;
  line-height: 20px;
  font-size: 10px;
  text-shadow: 1px 1px 1px;
  text-align: center;
  border-radius: 20px;
  width: 250px;
  margin-left: 0%;
}
/* line 52, ../sass/style.scss */
body footer {
  color: #ec3a8d;
  background-color: #f8e386;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  bottom: 0px;
  padding: 5px;
}

/* line 61, ../sass/style.scss */
.logo {
  position: relative;
  float: right;
  width: 40px;
  border-radius: 50%;
}

/* line 67, ../sass/style.scss */
.logo:hover {
  transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  transform: rotate(360deg);
}

/* line 73, ../sass/style.scss */
.detalleFoto {
  width: 125px;
  height: 125px;
  display: inline;
  margin: 20px;
  border-radius: 50%;
  border: 5px solid black;
  transition: transform 2s ease-in-out;
  -webkit-transition: transform 2s ease-in-out;
  -moz-transition: transform 2s ease-in-out;
}

/* line 84, ../sass/style.scss */
.detalleFoto:hover {
  transform: scale(2.25);
}

/* line 87, ../sass/style.scss */
.detalleTexto:hover {
  transform: scale(60.25);
}

/* line 91, ../sass/style.scss */
h1.viaje {
  font-family: "Homer Simpson UI";
  font-size: 2em;
  text-align: center;
  border-radius: 30px;
  margin-top: 120px;
}

/* line 100, ../sass/style.scss */
.grid-container {
  margin-left: 5%;
  display: grid;
  grid-auto-columns: 20%;
  grid-auto-rows: 40%;
  grid-gap: 5px;
  padding: 5px;
}

/* line 108, ../sass/style.scss */
.item1 {
  grid-row: 1 / 2;
  grid-column: 1 / 5;
}

/* line 112, ../sass/style.scss */
.item2 {
  grid-row: 1 / 2;
  grid-column: 2 / 5;
}

/* line 116, ../sass/style.scss */
.item3 {
  grid-row: 1 / 2;
  grid-column: 3 / 5;
}

/* line 120, ../sass/style.scss */
.item4 {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
}

/* line 124, ../sass/style.scss */
.item5 {
  grid-row: 1 / 2;
  grid-column: 5 / 5;
}

/* line 128, ../sass/style.scss */
.item6 {
  grid-row: 2 / 2;
  grid-column: 1 / 5;
}

/* line 132, ../sass/style.scss */
.item7 {
  grid-row: 2 / 2;
  grid-column: 2 / 5;
}

/* line 136, ../sass/style.scss */
.item8 {
  grid-row: 2 / 2;
  grid-column: 3 / 5;
}

/* line 140, ../sass/style.scss */
.item9 {
  grid-row: 2 / 2;
  grid-column: 4 / 5;
}

/* line 144, ../sass/style.scss */
.item10 {
  grid-row: 2 / 2;
  grid-column: 5 / 5;
}

/* line 149, ../sass/style.scss */
.pago {
  margin-left: 100px;
  padding-bottom: 5px;
  text-align: left;
  margin-bottom: 70px;
  width: 500px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
}
/* line 154, ../sass/style.scss */
.pago label {
  margin: 5px;
}
/* line 157, ../sass/style.scss */
.pago button {
  margin: 2px;
}
/* line 160, ../sass/style.scss */
.pago .botonEnvio {
  font-size: 20px;
  margin-top: 20px;
}
/* line 168, ../sass/style.scss */
.pago label {
  width: 50%;
  font-weight: bold;
  display: inline-block;
}

/* line 174, ../sass/style.scss */
.payment-button {
  color: #f1e100;
  margin: 30px 50px;
  width: 170px;
  height: 80px;
  background-image: linear-gradient(90deg, #ff008c 0%, #f8d435 49%, #130202 80%, #c20b0b 100%);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
/* line 185, ../sass/style.scss */
.payment-button::after {
  content: "PAGAR";
  width: 150px;
  height: 60px;
  background-color: #5f0c96;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 195, ../sass/style.scss */
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

/* line 211, ../sass/style.scss */
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

/* line 215, ../sass/style.scss */
.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}

/* line 229, ../sass/style.scss */
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

/* line 247, ../sass/style.scss */
.close:hover {
  background: #00d9ff;
}
