/*Juan Carlos Mendoza Fontcuberta*/
@import "compass/utilities/sprites";

$icons: sprite-map("../img/*.png");//pdfs---//MAPEADO DE SPRITES PARA MOSTRAR CADA ICONO POR SU POSICIÓN

i {//iconos de la página
  background: $icons;
  display: inline-block;
}

@each $i in sprite-names($icons) {//SENTENCIA FOR EACH //PDF
  .icon-#{$i} {//interpolación
    background-position: sprite-position($icons, $i);
    @include sprite-dimensions($icons, $i);//viene del mixin
  }
}//---pdfs

%button-block {//placeholder//pdf//porpiedades para botón "Entrar"
  box-sizing: border-box;
  width: 50%;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
}

%input-block {//placeholder//pdf//propiedades para formulario
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px solid #bbb;
}

#contenido {
  padding: 30px 20px 0px 0px;

  .col-left {//disposicion parte izqda
    box-sizing: border-box;
    width: 30%;
    float: right;
    padding: 10px;
    //background-color: rgb(255, 255, 255);
    .login input {
      @extend %input-block;//EXTENDEMOS LAS PROPIEDADES INPUT-BLOCK MEDIANTE PLACEHOLDER
      background-color: rgb(235, 241, 247);
    }

  .login button {
    @extend %button-block;//EXTENDEMOS LAS PROPIEDADES INPUT-BLOCK MEDIANTE PLACEHOLDER
  }

  @include diseñoResponsive(small) {//viene del mixin
    float: none;
    width: 100%;
  }
}

.col-right {//ordena bloque o columna a la dcha***AUNQUE AL FINAL LO MOVÍ A LA IZQDA
  box-sizing: border-box;
  margin-right: 30%;
  width: 70%;
  padding: 10px;

  h1 {//PROPIEDADES TITULO PARA PAGINAS REGIDAS POR ARCHIVO STYLE
    color: $titleColor;//VIENE DE STYLE Y TIENE PROPORCIÓN DE COLORES
    font-size: 1.6em;
  }

  @include diseñoResponsive(small) {//responsive//viene del mixin
    margin-left: 0;
    width: 100%;
  }
}

.button-action {//sistema de colores en botón "Entrar"
  background-color: $backgroundColor;
  color: #eee;
  @if $theme == light {//sentencia
    background-color: lighten($backgroundColor, 20%);//funciones de color math color
    }@else {///sentencia
        background-color: darken($backgroundColor, 15%);//funciones de color math color
    }
    &:hover {//& hereda; hereda el cambio de tonalidades de colores del padre al pasar ratón
      background-color: darken($backgroundColor, 30%);//funciones de color math color
    }
  }
  @include diseñoResponsive(medium) {//responsive//viene del mixin
    padding: 10px 20px;
  }
}

a.button:hover{//& hereda; hereda el cambio de tonalidades de colores del padre al pasar ratón
  background-color: darken($backgroundColor, 30%);//funciones de color math color
  @include textoHover;//incluye mixin cambia color
}
