/*Juan Carlos Mendoza Fontcuberta*/
//pdf----
$textColor: rgb(236, 58, 141);
$backgroundImage:"img/logo.JPG";
$backgroundColor: rgb(248, 227, 134) !default;//si no hay color previo pone este
$textColorHover: darken($textColor, 35%);//Math + Color//función de color
$backgroundColorHover: lighten($backgroundColor, 10%);//Math + Color
$titleColor: darken($textColor, 15%);//---pdf//función de color
$margin: 0px;
$padding:0px;//tamaño de la caja principal de las secciones de la
$theme: dark;//tonalidad del título
$colorFondo:#aac418;

@import "_mixin";//exportamos estos archivos aquí a style.scss para luego importar este archivo al style.css
@import "_menu";
@import "_contenido";//

$colorTitulo:#d3bce2;
$colorBorde: rgb(122, 30, 95);
%colorTienda {//PLACEHOLDER
  background-color: $colorTitulo;
  border: 3px solid $colorBorde;
}
body {
  @include marginPadding;//MIXIN
  //background-color: #f1f0ef;
  header {
    padding-top: 12px;
    padding-right: 30px;
    font-size: 1.8rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(194, 100, 100);
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    color: rgb(233, 183, 18);
    
    @if $theme == dark {//sentencia
      background-color: rgb(173, 132, 160);
    }
  }
  .tienda {
    font: bold 90% monospace;
    line-height: 20px;
    font-size: 10px;
    text-shadow: 1px 1px 1px;
    @extend %colorTienda;//EXTIENDE MEDIANTE PLACEHOLDER
    text-align:center;
    border-radius: 20px;
    width: 250px;
    margin-left: 0%;
  }
  footer {
    @include texto;
    @include box-sizing(border-box);
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding: 5px;
  }
}
.logo {
  position: relative;
  float: right;
  width: 40px;
  border-radius: 50%;
}
.logo:hover {
  transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  transform: rotate(360deg);
}
.detalleFoto {
  width: 125px;
  height: 125px;
  display: inline;
  margin: 20px;
  border-radius: 50%;
  border: 5px solid black;
  transition: transform 2s ease-in-out;
  -webkit-transition: transform 2s ease-in-out;
  -moz-transition: transform 2s ease-in-out;
}
.detalleFoto:hover {
  transform: scale(2.25);
}
.detalleTexto:hover {
  transform: scale(60.25);
}
h1 {
  &.viaje {//$ refiere al padre h1
    font-family: "Homer Simpson UI";
    font-size: 2em;
    @extend %colorTienda;//EXTIENDE MEDIANTE PLACEHOLDER
    text-align: center;
    border-radius: 30px;
    margin-top: 120px;
  }
}
.grid-container {//GRID
  margin-left: 5%;
  display: grid;
  grid-auto-columns: 20%;
  grid-auto-rows: 40%;
  grid-gap: 5px;
  padding: 5px;
}
.item1{
    grid-row: 1 / 2;
    grid-column: 1 / 5;
}
.item2{
    grid-row: 1 / 2;
    grid-column: 2 / 5;
}
.item3{
    grid-row: 1 / 2;
    grid-column: 3 / 5;
}
.item4{
    grid-row: 1 / 2;
    grid-column: 4 / 5;
}
.item5{
    grid-row: 1 / 2;
    grid-column: 5 / 5;
}
.item6{
    grid-row: 2 / 2;
    grid-column: 1 / 5;
}
.item7{
    grid-row: 2 / 2;
    grid-column: 2 / 5;
}
.item8{
    grid-row: 2 / 2;
    grid-column: 3 / 5;
}
.item9{
    grid-row: 2 / 2;
    grid-column: 4 / 5;
}
.item10{
    grid-row: 2 / 2;
    grid-column: 5 / 5;
}

.pago {
  margin-left: 100px;
  padding-bottom: 5px;
  text-align: left;
  margin-bottom: 70px;
  label {
      margin: 5px;
  }
  button {
      margin: 2px;
  }
  .botonEnvio {
      font-size: 20px;
      margin-top: 20px;
  }
  width: 500px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  label {
      width: 50%;
      font-weight: bold;
      display: inline-block;
  }
}
.payment-button {//boton pagar
  color: rgb(241, 225, 0);
  margin: 30px 50px;
  width: 170px;
  height: 80px;
  background-image: linear-gradient(90deg, #ff008c 0%, #f8d435 49%, #130202 80%, #c20b0b 100%);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  &::after {//& refiere al padre payment-button//after aplica las sgtes propiedades a lo que viene después
    content: "PAGAR";
    width: 150px;
    height: 60px;
    background-color: #5f0c96;
    display: flex;
    align-items: center;
    justify-content: center;
  }  
}
.modalDialog {//MODAL
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
  
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }


